.Products{
    width: 100%;
    height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #DCE1DA;
    align-items: center;
}
.slick-slider {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.slick-list{
    height: 100%;
}
.slick-track{
    height: 100%;
}
.OrderContent{
    border: solid 5px whitesmoke;
    outline: none;
    width: 58% !important;
    height: 100%;
    padding: 7px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,0.2);
    background-color: whitesmoke;
    border-bottom-color: #E0752F;
}
.OrderContent li{
    text-decoration: none;
}
.Products .title {
    font-size: 23px;
    color: #E0752F;
    margin-top: 60px;
}
.OrderProducts{
    
    width:90%;
    height: 5500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}